

.body{
	background: #FFFBFF ;
}



.circle{
    background-color: #1B2CC1;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    top: 50% ;
    left: 50% ;
    position: absolute;
    animation: animate 1.8s linear infinite;
}

.shadow{
	background-color: #C5C4CD;
	width: 20px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 70%;
	border-radius: 50%;
	animation: shadow-movement 1.8s linear infinite;
}


.circle:nth-child(3){
	
 animation-delay: -0.3s ;
}

.circle:nth-child(4){

 animation-delay: -0.6s ;
}

.circle:nth-child(5){

 animation-delay: -0.9s ;
}

.shadow:nth-child(3){
	animation-delay: -0.3s;
}

.shadow:nth-child(4){
	animation-delay: -0.6s;
}

.shadow:nth-child(6){
	animation-delay: -0.9s;
}



@keyframes animate{

0%{
	transform-origin: 400% 50% ;
	transform: rotate(0deg);
}
50%{
	transform-origin: 400% 50% ;
	transform: rotate(360deg);
}

50.1%{
	transform-origin: -400% 50% ;
	transform: rotate(0deg);
}

100%{
	transform-origin: -400% 50% ;
	transform: rotate(-360deg);
}


}

@keyframes shadow-movement{

0%{

}
12.5%{
   transform: translate(50px) scale(0.4);
}

25%{
  transform: translate(180px);
}

37.5%{
  transform: translate(50px);
}
50%{
 transform: translate(0px) scale(1.6);
}

62.5%{
  transform: translate(-50px);
}

75%{
   transform: translate(-180px);
}
87.5%{
 transform: translate(-50px);
}
100%{
   transform: translate(0px) scale(0.4); 
}


}







